@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    /* colors */
--Very-Dark--Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);

/* Typography  */
    --family: 'Manrope', sans-serif;
    --font-size: 13px;
    --weigths: 500, 700;
}
body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope';
    font-size: .81rem;
    margin: .2rem;
}

.desktop-card {
    align-items: center;
    justify-content: center;
}

.card-content {
    margin-left: 1rem;
    margin-right:1rem;
}

.drawers img {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right:1rem;
    width: 19rem;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.card-summary {
    width: 18.75rem;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.card-info h1 {
    font-family: "Manrope";
    padding: 1rem;
    padding-bottom: 0;
    text-align: left;
     width: 85%;
    line-height: 1.5rem;
    color: hsl(217, 19%, 35%);
    font-size: 1rem;
}

.card-info p {
    font-family: "Manrope";
    padding: 1rem;
    padding-top:  0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .85rem;
    line-height: 1.3rem;
    color:  hsl(214, 17%, 51%);
    text-align: left;
}

.card-icons {
    bottom: 12%; 
    width: 18.75rem;
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.author {
    width: 4rem;
}

.author img {
    margin-left: 1rem;
    border-radius: 50%;
    width: 50%;
    height: 60%;
}

.author-info h1 {
    font-weight: 700;
    font-family: "Marlo";
    font-size:1rem;
    color: hsl(217, 19%, 35%);
}

.author-info p {
    padding-top: 0;
    font-size: 10px;
    color: hsl(214, 17%, 51%);
}

  .icon::after {
     padding-left: 4rem;
    background-color:  hwb(210 93% 3%);
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    border-radius: 50%;
    width: 90%;
}

.icon {
    margin-left: 3rem;
}

.icon img {
    width: 70%;
   padding-right: 1rem;
   margin-right: .3rem;
}  

.share {
    display: none;
}

@media  all and (max-width: 1440px) and (orientation: landscape) {

.desktop-card {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-summary {
    margin-left: 0;
    width: 46rem;
    height: 18.75rem;
    min-height: 30vh;
}
.card-content {
    width: 45rem;
    display: flex;
    box-shadow: 0px 0px 30px 2px var(--blue-grayish-shaddow);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 3%;
    border-top-right-radius: none;
}

.drawers img {
    margin-top: 0;
    margin-right: 0;
    display: flex;
    height: 20rem;
    border-top-left-radius:  10%;
    border-bottom-left-radius:  10%;
}

.card-summary {
    height: 20rem;
    border-top-right-radius:  10%;
    border-bottom-right-radius:  10%;
}

.card-info {
    width: 31.25rem;
}

.card-info h1  {
   font-size: 1.3rem;
   line-height: 1.6rem;
   width: 70%;
   margin-top: 1.5rem;
   margin-left: 3.5rem;
}

.card-info p {
    width: 75%;
    margin-left: 3.2rem;
    line-height: 1.6rem;
}

.card-icons {
    padding-bottom: 12rem;
}

.author img {
    margin-left: 4rem;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}
.author {
    width: 4rem;
}
.author-info h1 {
    width: 3rem;
    padding-left: 5rem; 
}

.author-info p {
    padding-right: 3rem;
}

.icon img {
    padding-left: 0;
    width: 2rem;
    margin-left: 7rem;
}
/* 
.icon img::after {
    content: url("./images/icon-share.svg");
    position: absolute;
    background-color:  hsl(210, 46%, 95%);
    border-radius: 30%;
    width: 60px;
    height: 20px;
} */


