@media only screen and (max-width: 375px) {

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope';
    font-size: 13px;
    margin: .2rem;
}

.container1 {
    margin: 2rem 1rem  0rem;
    display: flex;
    flex-flow: row wrap;
    width: 65%;
    height: 50%;
}

.container1 img {
    flex-grow: 2;
    width: 15%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.container2 {
    width: 65%;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.container2 h1 {
    font-family: "Manrope";
   padding: 1rem;
   padding-bottom: 0;
    text-align: left;
    width: 85%;
    line-height: 1.5rem;
    color: hsl(217, 19%, 35%);
    font-size: 13px;
}

.container2 p {
    font-family: "Manrope";
    padding: 1rem;
    padding-top:  0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.3rem;
    color:  hsl(214, 17%, 51%);
    text-align: left;
}

.container3 {
    margin-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 61%;
    background-color: white;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    display: grid;
    grid-template-columns: 20% 50% 20%;
}

.container3 img {
    border-radius: 50%;
    width: 80%;
}

.container3  h1 {
    text-align: left;
    margin-top: 0;
    margin-left: .5rem;
    margin-bottom: .5rem;
    font-weight: 700;
    font-family: "Marlo";
    font-size: 12px;
    width: 90%;
    color: hsl(217, 19%, 35%);
}

.container3 p {
    margin-top: 0;
    margin-left: .5rem;
    font-size: 10px;
    color: hsl(214, 17%, 51%);
}

 .icon  {
     padding-left: .5rem;
    background-color:  hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 60%;
}

.icon img {
   align-items: right;
    padding-top: .5rem;
}

.share {
    display: none;
}

