@media only screen and (max-width: 375px) {

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope';
    margin: .2rem;
  
}
.container1 {
    margin: 1rem 1rem ;
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 20%;
}

.container1 img {
    flex-grow: 1;
    width: 30%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.container2 {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.container2 h1 {
   padding: 1rem;
    text-align: left;
    width: 85%;
    line-height: 1.5rem;
    color: hsl(217, 19%, 35%);
    font-size: 1.1rem;
}

.container2 p {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color:  hsl(212, 23%, 69%);
    text-align: left;
    /* width: 80%; */
}

.container3 {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    display: grid;
    grid-template-columns: 60px 160px 100px;
    padding: 1.5rem;
}

.container3 img {
    border-radius: 50%;
    width: 90%;
}

.container3  h1 {
    font-weight: 700;
    font-family: "Marlo";
    font-size: .9rem;
    width: 90%;
    color: hsl(217, 19%, 35%);
}

.container3 p {
    font-size: .9rem;
}

.container3 .icon {
    width: 50%;
}

.
