@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Cedarville+Cursive&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    margin: 20px;
}

.mini-course-banner {
    display: flex;
    font-family: 'Abel', sans-serif;
    align-items: center;
    justify-content: center;
    background-color:burlywood ;
    color: white;
    height: 60px;
}

.mini-course-banner h1 {
    padding: 10px;
    font-size: 20px;
}

.mini-course-banner p {
    padding: 10px;
    width: 400px;
    font-size: 18px;
}

button .sign-up {
    width: 100px;
    height: 40px;
    background-color: burlywood;
    border-width: 2px;
}

.heading {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 80px;
    text-align: center;
}

.garden-store {
    display: flex;
    flex-direction: row;
}

a {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(254, 162, 177) ;
    padding: 20px;
    margin-left: 150px;
}

.hero-image {
    position: relative;
}

.hero-image img {
    padding-top: 20px;
}

.arrow {
    height: 20px;
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 60px;
  }
  
  .right {
    position: absolute;
    top: 30%;
    left: 87%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    position: absolute;
    top: 30%;
    right: 87%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.mini-course {
    display: flex;
    background-color: rgb(242, 223, 201);
    margin-top: 70px;
}

.course-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.course-info h1 {
    margin-bottom: 0px;
    font-family: 'EB Garamond', serif;
    font-size: 45px;
}

.course-info h2 {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}

.course-info p {
    line-height: 30px;
    max-width: 780px;
}

input{
    max-width: 80px;
   margin-left: 300px;
   background-color: white;
   background-image: url('searchicon.png');
   background-position: 10px 10px;
   background-repeat: no-repeat;
   padding-left: 40px;
}

.course-sign-up {
    max-width: 150px;
    height: 40px;
    margin-left: 250px;
    margin-top: 40px;
}

.mini-course img {
    max-width: 600px;
    padding: 60px;
}

.shop-heading {
    background-color: whitesmoke;
}

.shop-heading  h1 {
    background-color: whitesmoke;
    padding-top: 20px;
    font-family: 'EB Garamond', serif;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.shop-heading h2 {
    background-color: whitesmoke;
    font-family: 'EB Garamond', serif;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}

.shop-heading  img {
    max-width: 290px;
    max-height: 290px;
    padding-bottom: 20px;
    margin-left: 50px;
}

.shop-latest {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.seeds  a {
    margin-left: 60px;
    font-size: 30px;
    max-width: 400px;
    max-height: 400px;
}

.tools  a {
    margin-left: 65px;
    font-size: 30px;
    max-width: 400px;
    max-height: 400px;
}

.books  a {
    margin-left: 70px;
    font-size: 30px;
    max-width: 400px;
    max-height: 400px;
}

.gifts a {
    margin-left: 75px;
    font-size: 30px;
    max-width: 400px;
    max-height: 400px;
}

.Shop-Here {
    font-size: 20px;
    color: black;
}

.footer {
    display: flex;
    padding-bottom: 160px;
    background-color: rgb(235, 203, 175);
}

.footer .heading {
    font-size: 50px;
    padding-top: 70px;
    margin-left: 100px;
}

.about {
    line-height: 30px;
    margin-left: 150px;
    font-family: 'EB Garamond', serif;
}

.social {
    line-height: 30px;
    margin-left: 200px;
    font-family: 'EB Garamond', serif;
}

.bx-bxl {
    width: 20px;
}

.join {
    line-height: 30px;
    margin-left: 300px;
    font-family: 'EB Garamond', serif;
}

/* .join input {
   margin-left: 30px;
    max-width: 50px;
} */



