@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Cedarville+Cursive&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    background-color: whitesmoke;
}
.heading {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 80px;
    text-align: center;
}

.garden-store {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(254, 162, 177) ;
    padding: 5px;
}

.hero-image {
    font-family: 'EB Garamond', serif;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    color: white;
    font-size: 40px;
}

.hero-image img {
    width: 1300px;
    height: 600px;
    margin: 50px 20px 10px;
}

h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.workshops p {
    font-family: 'EB Garamond', serif;
    max-width: 1200px;
    margin: 350px 100px 0px;
    line-height: 45px;
    font-size: 20px;
}

h2 {
    margin-top: 200px 100px 100px;
    text-align: center;
}

p {
    text-align: center;
}

.courses h1 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 45px;
    top: 130%;
}

.courses {
    margin: 0px;
    display: flex;
}

.mini-course {
    margin: 200px 30px 50px;
    background-color: white;
    width: 650px;
}

.mini-course  h2 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 30px;
}

.mini-course img {
    margin: 50px 100px 30px;
    width: 480px;
    height: 300px;
}

.online img {
    margin: 50px 100px 30px;
    width: 480px;
    height: 300px;
}

.online {
    margin: 200px 30px 50px;
    background-color: white;
    width: 650px;
}

.online  h2 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 30px;
}

.online  p {
    font-family: 'EB Garamond', serif;
    margin: 10px 15px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.mini-course p {
    font-family: 'EB Garamond', serif;
    margin: 10px 15px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.learn-more {
    background-color: white;
    border: solid  2px burlywood;;
    color: burlywood;
    font-size: 15px;
    margin: 30px 250px 50px;
    width: 135px;
    height: 50px;
}

.learn-more:hover {
    background-color: burlywood;
    color: white;
} 

.learn-more a {
    color: black;
}

.testimonials {
   display: flex;
   flex-wrap: wrap;
   margin: 0px  0px 150px;
}

.testimonial-heading {
    margin: 50px 0px 50px;
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 45px;
}

.testimonial-cards {
    background-color: rgb(245, 235, 222);
    border-radius: 30%;
    margin: 100px 10px 100px;
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 200px;
}

.testimonial-cards img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.testimonial-cards p {
    width: 300px;
    padding: 10px;
}

.name {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    padding-bottom: 160px;
    background-color: rgb(235, 203, 175);
    width: 1400px;
}

.footer .heading {
    font-size: 50px;
    padding-top: 70px;
    margin-left: 100px;
}


@media  screen and (max-width: 576px) {
    .heading {
        font-size: 25px;
    }

    .hero-image h1 {
     font-size: 25px;
    }

   .hero-image img {
    width: 70%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .workshops p {
    text-align: center;
    width: 80%;
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    font-size: 20px;
   }

   .courses h1 {
    margin-top: 25px;;
    font-size: 21px;
   }

   .courses {
     flex-wrap: wrap;
   }

   .mini-course {
    font-size: 12px;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
   }

   .mini-course img {
    width: 70%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .online {
    font-size: 12px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
   }

   .online img {
    width: 70%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   
   .learn-more {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .testimonials {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    gap: 30px;
   }

   .testimonial-cards {
    gap: 30px;
    font-size: 10px;
    width: 250px;
    height: 150px;
    margin: 0px;
   }

   .testimonial-cards p {
    text-align: left;
   }

   
}