@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Cedarville+Cursive&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.cart-btn {
    display: flex;
    justify-content: flex-end;
  }
  
  #cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
  }
  
  .cart-quantity {
    color: white;
    background-color:black;
    padding: .1em .1em;
    position: absolute;
    margin: .9em 7.5em 0 0;
    right: 0;
    border: solid 2px black;
    border-radius: 10px;
    font-weight: bolder;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    margin: 20px 20px 20px;
  }
  
  .card {
    margin: 1em;
    position: relative;
    overflow: hidden; 
    text-align: center
  }
  
  .card:hover .add-to-cart {
    transform: translateX(0);
  }
  
  .product-image {
    width: 250px;
    height: 250px;
   margin: 20px 20px 30px;
  }
  
  .add-to-cart {
    background-color: burlywood;
    color: white;
    position: absolute;
    right: 75%;
    left: 30%;
    top: 55%;
    padding: .5em 1em; 
    transform: translateX(500px);
    width: 150px;
    transition: .5s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem
  }
  
  .product-price {
    text-align: center;
    padding-top: 1em;
    font-size: 18px;
  }
  
  .cart-modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    transform: translateX(-200%);
    transition: .5s ease-out;
    
  }
  
  .cart-modal {
    height: 100vh;
    width: 50%;
    background-color: rgb(50,50,50);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
  }
  
  .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .cart-total {
    color: white;
  }
  
  .total-price {
    color: white;
    font-size: 2rem;
    display: block;
  }
  
  .purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
  }
  
  .product-rows {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-row {
    display: flex;
    align-items: center;
  }
  
  .cart-image {
    width: 200px;
    margin: 5px 35px 5px;
  }
  
  .cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .product-quantity {
    width: 30px;
    height: 20px;
    font-size: 2rem;
    margin-left: 3rem;
  }
  
  .remove-btn {
    padding: 1em 2em;
    background-color:burlywood;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .remove-btn:active {
    transform: translateY(5px);
  }
  
button .sign-up {
    width: 100px;
    height: 40px;
    background-color: burlywood;
    border-width: 2px;
}

form {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}


.Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .Heading{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
   }

   .Cart-Items{
    margin: auto;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .about{
    height: 100%;
   }

   .title{
    padding-top: 0px;
    line-height: 10px;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }

   .subtitle{
    line-height: 10px;
    font-size: 15px;
    font-family: ‘Open Sans’;
    font-weight: 400;
    color: #909090;
   }

   .counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .prices{
    height: 100%;
    text-align: right;
    font-size: 12px;
   }

.invisble {
   background-color: black;
}

.heading {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 80px;
    text-align: center;
}

.garden-store {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(254, 162, 177) ;
    padding: 5px;
}

.categories {
    width: 200px;
}

#menutoggle {
    margin-top: 5px;
    background-color: white;
    border: none;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
}

#toolstoggle {
    background-color: white;
    border: none;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
}

#bookstoggle {
    border-bottom: solid 1px black;
    background-color: white;
    border: none;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
}

.open {
     margin-top: 0;
      max-height: 900px;
      opacity: 1;
      transition: max-height 0.3s ease-in-out, opacity 0.25s ease-in-out;
      color: black;
      line-height: 18px;
} 

.open a {
    text-decoration: none;
    margin-left: 2px;
    font-size: 18px;
    line-height: 25px;
    color: black;
    padding-left: 0;
}

ul {
    text-decoration: none;
    overflow: hidden;
    color: black;
    line-height: 26px;
    margin-left: 5px;

    opacity: 0;
    max-height: 0;
    list-style: none;
}

ul {
    list-style: none;
    line-height: 26px;
}

.shop-display {
    display:flex;
    margin: 10px;
}

ul {
    list-style: none;
    line-height: 26px;
}

.shop-books {
    display:flex;
    margin: 10px;
}

.shop-display img {
    width: 1100px;
    height: 500px;
    padding: 50px;
    padding-bottom: 0;
}

.border {
    border: solid 1px black;
    width: 1200px;
    margin: 150px 10px 0px;
}

.page-count {
    font-size: 18px;
    text-align: right;
    margin-right: 190px;
}

.img-heading {
    position: relative;
    text-align: center;
}

.img-heading h1 {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}

.books {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.border {
    border: solid 1px black;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.page-count {
    font-size: 18px;
    text-align: right;
    margin-right: 50px;
    padding: 15px;
}

.product-display {
    display: flex;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

figure {
    display: flex;
    flex-direction: row;
    position: relative; 
} 

.product-img img {
    width: 236px;
    height: 236px;
}

.product-img figcaption {
    font-size: 25px;
    width: 235px;
    height: 30px;
    position: absolute;
    bottom: -40px;
    text-align: left;
}

.product-img figcaption1 {
    font-size: 20px;
    width: 235px;
    height: 30px;
    position: absolute;
    bottom: -110px;
    text-align: left;
}

.product-img figcaption:hover {
    color: burlywood;
}

.product-img figcaption1:hover {
    color: burlywood;
}

@media  screen and (max-width: 576px) {
    .heading {
        font-size: 35px;
    }

    .categories h1 {
        margin-top: 40px;
    }

    #menutoggle {
        text-decoration: none;
        color:inherit;
    }

      
    #toolstoggle {
        text-decoration: none;
        color:inherit;
    }
    
    #bookstoggle {
        text-decoration: none;
        color:inherit;
    }

    .shop-display img {
        padding: 0px;
    }

    .shop-display {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .img-heading img {
        width: 80%;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .border {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 90%;
    }

    .product-display {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 150px;
        flex-direction: column;
    }

    .product-img img {
        gap: 40px;
        width: 100%;
        height: 250px;
    }

    .product-img figcaption {
        margin-top: 40px;
        font-size: 22px;
    }

    .product-img figcaption1 {
        margin-top: 40px;
        font-size: 22px;
        bottom: -90px;
    }

    .add-to-cart {
        top: 150px;
        left: 120px;
    }
}







 

 

