@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Cedarville+Cursive&family=Rubik:wght@300&display=swap');

body {
    font-family: 'EB Garamond', serif;
    background-color:white;
}

.heading {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 90px;
    text-align: center;
}

.subheading h1 {
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 40px;
}

.subheading h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   font-size: 45px;
}

.about-info  p {
    text-align: center;
    font-size: 25px;
    width: 70%;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.garden-store {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(254, 162, 177) ;
    padding: 20px;
}

.grid-container {
    justify-content: center;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    grid-template-columns: 200px 150px 200px 200px ;
    grid-template-rows:130px 100px 130px 200px ;
    gap: 3px;
}

.item-1 {
   grid-column: 1 / 1.5;
   grid-row: 1 / 3;
}

 .item-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 5;
} 

.item-3 {
    grid-column: 1 / 2;
    grid-row: 2.5 / 5;
} 

.item-2 img {
    height: 470px;
}

.about-imgs {
    display: flex;
    justify-content: center;
}

img {
    max-width: 350px;
}

.about-shop p {
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container2 {
    margin-bottom: 250px;
    margin-top: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 200px 150px 150px 250px;
    grid-template-rows:100px 160px 150px 130px ;
    gap: 3px;
}

.item-4 {
   grid-column: 2  / 2.5;
   grid-row: 1 / 5;
}

 .item-5 {
    grid-column: 3  / 6;
    grid-row: 2.5 / 5;
} 

.item-6 {
    grid-column: 3 / 5;
    grid-row: 3  / 6;
} 

.item-7 {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
}

.item-4 img {
    height: 520px;
    width: 340px;
} 

.item-5 img {
    height: 250px;
    width: 350px;
} 

.shop-products {
    margin: 50px 200px 200px 600px;
}

.shop-products h1 {
    font-size: 18px;
}

.shop-products h2 {
    font-size: 25px;
}

.products {
    margin-left: 50px;
    border: none;
}

.footer {
    display: flex;
    padding-bottom: 160px;
    background-color: rgb(235, 203, 175);
}


@media  screen and (max-width: 576px) {
    .garden-store  a {
        font-size: 12px;
        width: 70%;
    }

    .heading {
        font-size: 30px;
    }
    
    .hero-section {
        text-align: center;
    }

     .subheading  h1 {
         font-size: 21px;
         margin-top: 50px;
    } 

    .subheading h2 {
        font-size: 15px;
        padding: 20px;
        line-height: 35px;
    } 

    .about-info p {
        font-size: 20px;
        margin-top: 5px;
        line-height: 30px;
    }

    .grid-container {
        justify-content: center;
        width: 80%;
        gap: 10px;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px;
    }

    .item-1 {
        object-fit: cover;
        object-position: center;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    .item-1 img {
        height: 100%;
        width:100%;
    }

    .item-2 {
        object-fit: cover;
        object-position: center;
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

     .item-2 img {
        object-position: 25% 75%;
        height: 100%;
        width:100%;
    } 

    .item-3 {
        object-fit: cover;
        object-position: center;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

    .item-3 img {
        height: 100%;
        width:100%;
    } 

    .grid-container2 {
        justify-content: center;
        width: 80%;
        gap: 10px;
        grid-template-columns:  1fr 1fr 1fr 0.5fr;
        grid-template-rows: 100px 100px;
    }

    .item-4 {
        object-fit: cover;
        object-position: center;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .item-5 {
        object-fit: cover;
        object-position: center;
        grid-column: 3 / span 2;
        grid-row: 1 / span 1;
    }

    .item-6 {
        object-fit: cover;
        object-position: center;
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }

    .item-4 img,  .item-5 img , .item-6 img {
        height: 100%;
        width:100%;
    }

    .about-shop {
        margin: 0px;
    }

    .about-shop p {
        text-align: center;
        line-height: 25px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        display:block ;
        width: 70%;
    }

    .shop-products {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .shop-products  h1 {
        font-size: 10px;
        text-align: center;
    }

    .shop-products  h2 {
        font-size: 16px;
        text-align: right;
    }

    #products {
        text-decoration: none;
        color: inherit;
       justify-content: right;
    }
}

